extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.flexSlider;

block contentFixedBefore

block contentStatic
  style.
    .container {
      padding-top: 40px;
    }
    .wrap {
      position: relative;
      padding-bottom: 20px;
    }
    .item {
      box-sizing: border-box;
      padding-top: 40px;
      padding-right: 20px;
      padding-bottom: 80px;
      padding-left: 20px;
      background: #ddd;
    }
    .nav-left {
      position: absolute;
      left: 10px;
      top: calc(50% - 20px);
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 40px solid #333;
      cursor: pointer;
    }
    .nav-right {
      position: absolute;
      right: 10px;
      top: calc(50% - 20px);
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 40px solid #333;
      cursor: pointer;
    }
    .pagination {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .pagination-item {
      box-sizing: border-box;
      margin: 0 10px;
      width: 10px;
      height: 10px;
      background: #000;
    }
    .pagination-item.on {
      border: 1px solid #000;
      background: transparent;
    }

  .container#js-flex-slider
    .wrap.js-flexslider-wrap
      .js-flexslider-move
        .item.js-flexslider-item
          h1 タイトル No.1
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .item.js-flexslider-item
          h1 タイトル No.2
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .item.js-flexslider-item
          h1 タイトル No.3
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .item.js-flexslider-item
          h1 タイトル No.4
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .item.js-flexslider-item
          h1 タイトル No.5
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .item.js-flexslider-item
          h1 タイトル No.6
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .item.js-flexslider-item
          h1 タイトル No.7
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .item.js-flexslider-item
          h1 タイトル No.8
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      .nav-left.js-flexslider-nav-prev
      .nav-right.js-flexslider-nav-next
      .pagination.js-flexslider-nav-pagination
        .pagination-item.js-flexslider-nav-pagination-item
        .pagination-item.js-flexslider-nav-pagination-item
        .pagination-item.js-flexslider-nav-pagination-item
        .pagination-item.js-flexslider-nav-pagination-item
        .pagination-item.js-flexslider-nav-pagination-item
        .pagination-item.js-flexslider-nav-pagination-item
        .pagination-item.js-flexslider-nav-pagination-item
        .pagination-item.js-flexslider-nav-pagination-item

block contentFixedAfter
