extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.flexSlider;

block contentFixedBefore

block contentStatic
  style.
    .container {
      padding-top: 40px;
    }
    .wrap {
      position: relative;
      padding-bottom: 20px;
    }
    .item {
      box-sizing: border-box;
      //- padding-top: 40px;
      //- padding-right: 20px;
      //- padding-bottom: 80px;
      //- padding-left: 20px;
      background: #ddd;
    }
    .item--border {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
    }
    .item--center {
      text-align: center;
    }
    .item a {
      display: block;
      color: #000;
      text-decoration: none;
    }
    .item h1 {
      padding-right: 30px;
      padding-left: 30px;
    }
    .item p {
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
    }
    .item a:hover {
      color: #c00;
    }
    .nav-left {
      position: absolute;
      left: 15px;
      top: calc(50% - 20px);
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 40px solid #333;
      cursor: pointer;
    }
    .nav-right {
      position: absolute;
      right: 15px;
      top: calc(50% - 20px);
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 40px solid #333;
      cursor: pointer;
    }
    .pagination {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .pagination-item {
      box-sizing: border-box;
      margin: 0 10px;
      width: 10px;
      height: 10px;
      background: #000;
    }
    .pagination-item.on {
      border: 1px solid #000;
      background: transparent;
    }

  .container#js-flex-slider0
    .wrap.js-flexslider-wrap
      .js-flexslider-move
        - for (var i = 0; i < 5; i++)
          .item.js-flexslider-item
            h1 --- No.#{ i + 1 } ---
            p
              |slidesPerView: 3.2
              br
              |spaceBetween: 20
              br
              |sp - slidesPerView: 1.1
              br
              |sp - spaceBetween: 10
      .nav-left.js-flexslider-nav-prev
      .nav-right.js-flexslider-nav-next
      .pagination.js-flexslider-nav-pagination
        - for (var i = 0; i < 5; i++)
          .pagination-item.js-flexslider-nav-pagination-item
  #debug

  .container#js-flex-slider1
    .wrap.js-flexslider-wrap
      .js-flexslider-move
        - for (var i = 0; i < 8; i++)
          .item.item--border.js-flexslider-item
            h1 --- No.#{ i + 1 } ---
            p
              |slidesPerView: 5.0
              br
              |spaceBetween: 0
              br
              |centeredSlides: false
              br
              |sp - slidesPerView: 2.0
              br
              |sp - spaceBetween: 0
              br
              |sp - centeredSlides: false
      .nav-left.js-flexslider-nav-prev
      .nav-right.js-flexslider-nav-next
      .pagination.js-flexslider-nav-pagination
        - for (var i = 0; i < 8; i++)
          .pagination-item.js-flexslider-nav-pagination-item

  .container#js-flex-slider2
    .wrap.js-flexslider-wrap
      .js-flexslider-move
        - for (var i = 0; i < 4; i++)
          .item.item--center.js-flexslider-item
            a(href="#")
              h1 --- No.#{ i + 1 } ---
              p
                |slidesPerView: 1.1
                br
                |spaceBetween: 40
                br
                |animationTime 700
                br
                |sp - slidesPerView: 1.0
                br
                |sp - spaceBetween: 0
      .nav-left.js-flexslider-nav-prev
      .nav-right.js-flexslider-nav-next
      .pagination.js-flexslider-nav-pagination
        - for (var i = 0; i < 4; i++)
          .pagination-item.js-flexslider-nav-pagination-item

  br
  br
  br

block contentFixedAfter
