extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.tweenAnimation;

block contentFixedBefore

block contentStatic
  style.
    .box {
      width: 100px;
      height: 100px;
      background: #333;
    }
  .box#js-box
  | <br><br><br><br><br><br><br><br><br><br>
  | <br><br><br><br><br><br><br><br><br><br>

block contentFixedAfter
